.git
.gitignore
.devcontainer
.vscode
.env
__pycache__
*.pyc
*.egg-info
.ipynb_checkpoints
data/raw
data/processed
checkpoints
saved_models
mlruns
wandb
outputs
logs
*.h5
*.hdf5
*.ckpt
*.tar.gz
*.zip
README.md
LICENSE
